* {font-family:  'Roboto', sans-serif; text-align: center;}

h1 {font-family: 'Amatic SC', cursive;}
h1, h2 {color:rgb(30, 66, 255); text-align: center;}
p, a {text-align: center; color: rgb(27, 32 ,38 );}
body {background-color: white;}

.img {border-radius: 100%;}

#cover {background: url("http://i.huffpost.com/gen/4286610/images/o-EARTH-facebook.jpg") no-repeat center bottom;
        background-size: cover;
        background-attachment: scroll;
        height: 600px;
        position: relative;
        top: -5px;
        width: 100%;
        text-align: center;}

.cover-content {box-sizing: border-box;
                margin: 0 auto;
                position: relative;
                text-align: center;
	        top: 280px;
  		width: 100%;}

.end {box-sizing: border-box;
      margin: 0 auto;
      padding-bottom: 10px;
      padding-top: 10px;
      position: relative;
      text-align: center
      top: 280px;
      width: 100%;
      background-color: rgb(148, 235, 247);}

p.end {color: rgb(8 ,16 , 64);}

